.App {
  text-align: center;
}

#barContainer {
  margin-right: 400px;
  
}

#barBox {
  width: 400px;
  height: auto;
}



.login {
  margin: auto;
  padding: 20px;
  width: 40%;
  border: .02in;
  border-style: solid;
  border-color: white;  
}

#signupbutton {
  margin:auto;
  text-align: center; 
  padding-top: 40px;
}

#hopslogo{
  width: 5%;
  height: 5%; 
}

#submit {
  padding-top: 20px;
}

#smallhopslogo {
  width: 22px;
  height: 60px;
}

#signupform {
 margin: auto;
}