.App {
  text-align: center;
}

#barContainer {
  margin-right: 400px;
  
}

#barBox {
  width: 400px;
  height: auto;
}

#field {
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 50%;
}

#input {
  margin: auto;
  padding: 20px;
  width: 40%;
  border: .02in;
  border-style: solid;
  border-color: white;
  
}

#login {
  text-align: left;
}

#signupbutton {
  margin:auto;
  text-align: center; 
  padding-top: 40px;
}

#hopslogo{
  width: 7%;
  height: 7%; 
}

#submit {
  padding-top: 20px;
}

#smallhopslogo {
  width: 22px;
  height: 60px;
}

#signupform {
 margin: auto;
}