.App {
  text-align: center;
}

#barContainer {
  margin-right: 400px;
  
}

#barBox {
  width: 400px;
  height: auto;
}

#field {
  margin: auto;
  padding: 10px;
  text-align: center;
  width: 50%;
}