.App {
  text-align: center;
}

#barContainer {
  margin-right: 400px;
  
}

.custom-overlay {
  background: rgba(36, 123, 160, 0.7);
}
.custom-modal {
  background: #b2dbbf;
  max-width: 500px;
  width: 100%;
}

.login {
  margin: auto;
  padding: 20px;
  width: 40%;
  border: .02in;
  border-style: solid;
  border-color: white;  
}

#signupbutton {
  margin:auto;
  text-align: center; 
  padding-top: 40px;
}

#hopslogo{
  width: 5%;
  height: 5%; 
}

#submit {
  padding-top: 20px;
}

#smallhopslogo {
  width: 22px;
  height: 60px;
}

#signupform {
 margin: auto;
}


#barbuttons {
  background-color:transparent;
  outline-style: hidden;
  padding:5px;
  margin:40px;
}